<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.iceant.application.meta.console.storage.mapper.TAppMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.iceant.application.meta.console.storage.entity.TAppMenu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="user_friendly_name" property="userFriendlyName" />
        <result column="description" property="description" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="view" property="view" />
        <result column="parent_id" property="parentId" />
        <result column="creation_datetime" property="creationDatetime" />
    </resultMap>
</mapper>
